
body,html{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 30px;
    margin-top: 10px;
}
.row4{
    gap: 0;
}
form{
    background-color:aquamarine;
    height: 150px;
    width: 500px;
    margin-top: 100px;
}
