
.news-section {
    width: 90%;
    margin-left: 20px;
    border: 1px solid #ccc;
    padding-left: 30px;
}

.news-section h3{
    font-size: 22px;
    color: #0473b3;
    margin-bottom: 14px;
}

.news-section h4{
    margin: 0;
}

.header-section {
    padding-bottom: 10px;
    padding-left: 15px;
}

.header-section span {
    font-size: 12px;
}

.item {
    display: block;
    margin-bottom: 20px;
    margin-left: 15px;
}


.fa-calendar-days{
    color: #999;
}